body,
html {
    padding: 0 !important;
    margin: 0 !important;
}

html {
    display: flex;
    height: 100dvh;
}

body {
    display: flex;
    width: 100%;
}

#root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
